<ul>
    <li>
        <p>Slipseknuden</p>
    </li>
    <li>
        <p>Slipsevej 79</p>
    </li>
    <li>
        <p>4300</p>
    </li>
    <li>
        <p>Holbæk</p>
    </li>
    <li>
        <p>Info@slipseknuden.dk</p>
    </li>
    <li>
        <p>www.slipseknuden.dk</p>
    </li>
    <li>
        <p>flf.: 88 99 66 44</p>
    </li>
</ul>