
<nav id="nav">
        <ul>
            <li><a href="/">HJEM</a></li>
            <li><a href="/om">OM SLIPSEKNUDE</a></li>
            <li><a href="/garanti">GARANTI</a></li>
            <li><a href="#">KONTAKT</a></li>
            <li><a href="/nyheder">NYHEDER</a></li>
            <li><a href="/produkter">PRODUKTER</a></li>
        </ul>
        <form>
            <input type="search">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </form>
    </nav>
<div id="logo">
    <img src="/images/header/logo.png" alt="HEJ">
</div>

    