
<div id="nav_left">
        <h2>PRODUKTER</h2>
        <nav>
            <ul>
                <li><a href="#">ALLE</a></li>
                <li><a href="#">SHOON</a></li>
                <li><a href="#">KOREA SPECAIL</a></li>
                <li><a href="#">US. IMPORTS</a></li>
                <li><a href="#">SLEEK FABRICS UK</a></li>
            </ul>
        </nav>
        <div id="nav_article">
                <article>
                    <h3>SLIPSKNUDEN ONLINE</h3>
                    <p>VI LANCERE NU VORES HJEMMESIDE MED BILLEDER AF VORES ALLER FINESTE SLIPS</p>
                    <a href="#">LÆS MERE..</a>
                </article>
                <article>
                    <h3>SLIPSKNUDEN ONLINE</h3>
                    <p>VI LANCERE NU VORES HJEMMESIDE MED BILLEDER AF VORES ALLER FINESTE SLIPS</p>
                    <a href="#">LÆS MERE..</a>
                </article>
            </div>
    </div>